@model Turnos_Medicos.Models.Estado

@{
    ViewBag.Title = "Eliminar Estado";
}

<h2>@ViewBag.Title</h2>

<h3>¿Está seguro/a que desea eliminar el estado?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-danger" /> 
        </div>
    }
</div>
