@{
    ViewBag.Title = "Sobre nosotros";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>La clínica MedOffices posee a los mejores profesionales y ofrece una amplia variedad de especialidades.</p>
