@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dirección: Gaspar campos 3815<br />
    Horarios de Atención: Lun a Vier de 8hs a 20hs<br />
    <abbr title="Teléfono">Teléfono:</abbr>
    02320-454693
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>