@model IEnumerable<Turnos_Medicos.Models.Consultorio>

@{
    ViewBag.Title = "Consultorios";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="/Consultorios/Create/" class="btn btn-xs btn-success">Crear nuevo</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
           <!-- @Html.ActionLink("Edit", "Edit", new { id=item.Id }) | -->
            <a href="/Consultorios/Edit/@item.Id" class="btn btn-xs btn-warning">Editar</a> 
            <a href="/Consultorios/Delete/@item.Id" class="btn btn-xs btn-danger">Eliminar</a>
        </td>
    </tr>
}

</table>
