@model IEnumerable<Turnos_Medicos.Models.PacienteObraSocial>

@{
    Turnos_Medicos.Models.Paciente paciente = ViewBag.Paciente;
    ViewBag.Title = "Paciente - Obra Sociales";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="/PacienteObraSociales/Create/@paciente.Id" class="btn btn-xs btn-success">
        Crear nuevo
    </a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ObraSocial.Nombre)
        </th>
        <th>
            Numero de Afiliado
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ObraSocial.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroAfiliado)
        </td>
        <td>
            <a href="/PacienteObraSociales/Edit/@item.Id" class="btn btn-xs btn-warning">Editar
            </a>
            <a href="/PacienteObraSociales/Delete/@item.Id" class="btn btn-xs btn-danger">Eliminar
            </a>
        </td>
    </tr>
}

</table>
