@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    
<ul class="nav navbar-nav navbar-right">
    <!--<li>@Html.ActionLink("Register", "Registration", "Usuarios", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>-->
    @if ((Session["user"] as Turnos_Medicos.Models.Usuario) == null)
    {
        <li>@Html.ActionLink("Iniciar Sesión", "Login", "Usuarios", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    }
    else
    {
        <form action="/Usuarios/Logout" method="post">
            <input type="submit" value="Cerrar Sesión" class="btn btn-primary btn-sm">
        </form>
    }
</ul>
        
 }
